{% extends 'base.html' %}

{% block head %}
<title>Provider Search</title>
{% endblock %}

{% block body %}
<section class="content">
    <h1 style="text-align: center">Providers</h1>
    <ul>
        <li><a href="{{ url_for('getProviders') }}">All Providers</a></li>
        <li><a href="{{ url_for('getActiveProviders', isactive=True) }}">Active Providers</a></li>
        <li><a href="{{ url_for('getInactiveProviders', isnotactive=True) }}">Inactive Providers</a></li>
    </ul>

</section>
{% endblock %}